/* Reset some default styles and apply a basic font */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Set a background color for the body and add some spacing */
body {
  background-color: #fff;
  padding: 20px;
  padding-top: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#bio {
  display: flex;
  align-items: center;
  margin: auto 150px;
}

#ava {
  height: 12cm;
  border-radius:25px;
}

/* Styling for the text content */
#bio > div:last-child {
  padding: 20px;
}

#bio h2 {
  font-size: 100px;
  margin: 0;
  margin-bottom: 5px;
}

#bio p {
  font-size: 15px;
  padding-left: 7px;
}

/* Style the header with a background color and add spacing */
header {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 25px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: calc(100% - 20px); /* Adjust the width as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  padding-left: 4rem;
}

/* Style the navigation menu */
nav ul {
  list-style: none;
  margin-right: 20px;
}

nav ul li {
  display: inline;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Style the main content area */
main {
  max-width: full;
  margin: 80px 80px;
  margin-top: 80px;
  padding: 40px 10px;
  background-color: #fff;
}

h2 {
  font-size: 120px;
}

h3 {
  font-size: 50px;
}

/* Style the sections with padding and spacing */
section {
  padding: 20px 0;
}

.intro {
  text-align: justify;
}

#port {
  padding-top: 80px;
}

/* Style the project containers */
.project {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #000000;
  border-radius: 10px;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.project h3 {
  border-radius: 10px;
  font-size: 30px;
}

.project h3 a {
text-decoration: none;
color: #000000;
}
.project h4 {
  padding-top: 7px;
}

.project p {
  padding-top: 1rem;
  font-size: 15px;
  text-align: justify;
}



/* Style the footer with a background color and add spacing */
footer {
  text-align: center;
  background-color: #000000;
  color: #fff;
  padding: 10px 0;
  border-radius: 15px;
  font-weight: bold;
}
